.calculator-container {
	width: 300px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 30px;
}

.result-row {
	display: flex;
	background-color: black;
	width: 100%;
	height: 60px;
	justify-content: right;
	align-items: center;
}

.result {
	padding-right: 10px;
	font-family: arial;
	font-size: 30px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.key {
	height: 60px;
	font-size: 30px;
	font-family: arial;
}

.half {
	width: 50%;
}

.quarter {
	width: 25%;
}

.three-quarter{
	width: 75%;
}

.gray {
	background-color: gray;
}

.gray:hover {
	background-color: silver;
}

.gray:active {
	background-color: white;
}

.orange {
	background-color: orange;
}

.orange:hover {
	background-color: gold;
}

.white-text {
	color: white;
}

/* their solution*/
* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin:0;
}

.calc {
	width: 400px;
	background-color: black;
	color: white;
}

.screen {
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
	text-align: right;
	padding: 20px 5px;
}

.calc-button {
	background-color: #d8d9db;
	color: black;
	height: 100px;
	width: 24.5%;
	border: none;
	border-radius: 0;
	font-size: 40px;
	cursor:pointer
}

.calc-button:last-child {
	background-color: #df974c;
	color: white;
}

.calc-button:last-child:hover {
	background-color: #dfb07e;
}
.calc-button:last-child:hover {
	background-color: #dd8d37;
}

.calc-button:hover {
	background-color: #ebebeb;
}

.calc-button:active {
	background-color: #bbbcbe;
}

.calc-row {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	margin-bottom: 0.5%;
}

.double {
	width: 49.7%
}

.triple {
	width: 74.8%;
}
